.angular-google-map-container {
  height: 400px;

  @media(min-width: $screen-md) {
    height: 800px;
  }
}

.facility-map__window {
  max-width: 200px;
}

.facility-map__window-title {
  font-size: 2rem;
  font-weight: bold;
}

.facility-map__window-data {
  font-size: 1.5rem;
  line-height: 2.5rem;
}
