.facility-finder {
  margin-bottom: 40px;
  margin-top: 40px;
  background-color: $gray-4;
  padding: 40px;
}
.facility-finder__filters {
  width: 70%;
}

.facility-finder__county-filter {
  width: 90%;
}

.facility-finder__distance-filter {
  width: 90%;
}

.facility-finder__search-button {
  width: 100px;
}
