.facility-finder {
  margin-bottom: 40px;
  margin-top: 40px;
  background-color: $gray-4;
  padding: 40px;
}
.facility-finder__row {
  margin-bottom:20px;
}

.facility-finder__filters {
  width: 70%;
}

