.search__header {
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  background: $blue-1;
  text-align: center;

  @media screen and (min-width: $screen-sm) {
    margin: 20px 0;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
  }
}

.search__header-text {
  @extend .container;
  font-size: 1.125 * $font-size-base;

  @media screen and (min-width: $screen-sm) {
    font-size: 2 * $font-size-base;
  }
}

.search__sub-title-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 15px;
}

.search__body {
  @extend .container;
  @media screen and (min-width: $screen-sm) {
    margin-top: 50px;
  }
}

.search__map{
  margin-bottom: $grid-gutter-width / 2;

  @media screen and (min-width: $screen-sm) {
    margin-bottom: 0;
  }
}

// Specific to the search page, and not a behavior of the component itself,
// stretch the components out to ignore Bootstrap edge gutters.

.search__sorter{
  margin-left: -($grid-gutter-width / 2);
  margin-right: -($grid-gutter-width / 2);

  @media screen and (min-width: $screen-sm) {
    margin-left: 0;
    margin-right: 0;
  }
}

.search__listing{
  margin-left: -($grid-gutter-width / 2);
  margin-right: -($grid-gutter-width / 2);

  @media screen and (min-width: $screen-sm) {
    margin-left: 0;
    margin-right: 0;
  }
}
