.search__header {
  padding: 50px;
  color: white;
  margin: 20px 0;
  background: $blue-1;
}

.search__header-text {
  @extend .container;
  font-size: 3rem;
}

.search__sub-title-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 15px;
}

.search__body {
  @extend .container;
  margin-top: 50px;
}

.search__map{
  margin-bottom: $grid-gutter-width / 2;

  @media screen and (min-width: $screen-sm) {
    margin-bottom: 0;
  }
}

// Specific to the search page, and not a behavior of the component itself,
// stretch the components out to ignore Bootstrap edge gutters.

.search__sorter{
  margin-left: -($grid-gutter-width / 2);
  margin-right: -($grid-gutter-width / 2);

  @media screen and (min-width: $screen-sm) {
    margin-left: 0;
    margin-right: 0;
  }
}

.search__listing{
  margin-left: -($grid-gutter-width / 2);
  margin-right: -($grid-gutter-width / 2);

  @media screen and (min-width: $screen-sm) {
    margin-left: 0;
    margin-right: 0;
  }
}
