.site-footer__top {
  @extend .row;
}

.site-footer__top-green {
  @extend .col-xs-4;
  height:25px;
  background-color: $green-1;
}

.site-footer__top-gray {
  @extend .col-xs-4;
  height:25px;
  background-color: $gray-2;
}

.site-footer__top-blue {
  @extend .col-xs-4;
  height:25px;
  background-color: $blue-5;
}

.site-footer__container{
  @extend .container;
  color: $gray-2;
  min-height: 200px;
}

.site-footer__row{
  @extend .row;
}

.site-footer__media-image {
  display: inline-block;
  width: 40px;
  margin: 20px 5px;
}

.site-footer__link{
  color: $gray-2;
}

.site-footer__logo {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100px;
}

.site-footer__mdhs {
  font-weight: bold;
  color: $gray-3;
}

.site-footer__phone {
  font-weight: bold;
  margin: 30px 0 50px 0;
  color: $gray-3;
}

.site-footer__report {
  font-weight: bold;
  color: $red-1;
  margin-bottom: 30px;
}

.site-footer__pww {
  @extend .col-sm-12;
  @extend .text-center;

  margin: 40px 0;

  a {
    color: $gray-2;
  }
}

.site-footer__credit {
  @extend .center-block;
  font-size: 14px;
}
