.site-header__navigation{
  @extend .navbar;
  @extend .navbar-default;
  @extend .navbar-fixed-top;

  background: white;
  border: none;
  margin: 0 auto;
}

.site-header__navbar-header{
  @extend .navbar-header;
}

.site-header__collapse {
  background: white;
}

.site-header__logo-link{
  @extend .navbar-brand;
  @extend .center-block;

  padding: 5px;
  border: none;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: 0 auto;

  @media (min-width: $screen-md) {
    padding: 25px;
    height: auto;
  }
}

.site-header__toggle {
  z-index: 3;
}

.site-header__logo {
  height: 40px;

  @media (min-width: $screen-md) {
    height: 73px;
  }
}

.site-header__link-item{
  list-style: none;

  @media (min-width: $screen-md) {
    border-left: 1px solid $gray-5;
    margin: 50px 0;

    &:first-of-type{
      border: none;
    }
  }
}

.site_header__links{
  @extend .nav;
  @extend .navbar-nav;
  @extend .navbar-right;
}

.site-header__link{
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;

  @media (min-width: $screen-md) {
    padding: 0 25px !important;
    line-height: 2rem !important;
  }
}
