//MDHS site colors

$blue-1: #4C94DA;
$blue-2: #75A2D1;
$blue-3: #3DAAD6;
$blue-4: #4CA3E2;
$blue-5: #6497ae;

$gray-1: #333333;
$gray-2: #aaabac;
$gray-3: #646465;
$gray-4: #C7C7C7;
$gray-5: #EAEAEA;
$gray-6: #F7F9FA;
$gray-7: #F6F6F6;

$red-1:  #D84D3C;


$green-1: #738f5c;
