//MDHS site colors
$blue-1   : #4c94da;
$blue-2   : #75a2d1;
$gray-1   : #333333;
$gray-2   : #848586;
$gray-3   : #646465;
$gray-4   : #c7c7c7;
$gray-5   : #EAEAEA;
$gray-6   : #F7F9FA;
$red-1    : #d84d3c;


