<div class="facility-finder">
  <div class="facility-finder__filters center-block">
    <form>
      <div class="row facility-finder__row">
        <div class="col-sm-3">
          <select class="form-control facility-finder__county-filter" ng-model="facilityFilters.county">
            <option selected="true" value="">County</option>
            <option ng-repeat="county in counties">{{county}}</option>
          </select>
        </div>
        <div class="col-sm-3">
          <select class="form-control facility-finder__distance-filter" ng-model="facilityFilters.city">
            <option selected="true" value="">City</option>
            <option ng-repeat="city in cities">{{city}}</option>
          </select>
        </div>
        <div class="col-sm-3">
          <select class="form-control facility-finder__distance-filter" ng-model="facilityFilters.distance">
            <option selected="true" value="10">Within 10 miles</option>
            <option value="25">Within 25 miles</option>
            <option value="50">Within 50 miles</option>
            <option value="100">Within 100 miles</option>
          </select>
        </div>
        <div class="col-sm-3">
          <button type="submit" class="btn btn-default facility-finder__search-button" ng-click="search()">Search</button>
        </div>
      </div>
      <div class="row facility-finder__row">
        <div class="col-sm-3">
          <select class="form-control facility-finder__distance-filter" ng-model="facilityFilters.facilityType">
            <option selected="true" value="">Facility Type</option>
            <option ng-repeat="type in facilityTypes" value="{{type.id}}">{{type.label}}</option>
          </select>
        </div>

        <div class="col-sm-3">
          <select class="form-control facility-finder_size-filter" ng-model="facilityFilters.size">
            <option selected="true" value="">Size</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
      </div>
      <hr/>
      <div class="row facility-finder__row">
        <div class="col-sm-3">
          <select class="form-control facility-finder__gender-filter" ng-model="facilityFilters.gender">
            <option selected="true" value="">Gender</option>
            <option ng-repeat="gender in genders" value="{{gender.id}}">{{gender.label}}</option>
          </select>
        </div>
        <div class="col-sm-3">
          <select class="form-control facility-finder__gender-filter" ng-model="facilityFilters.age">
            <option selected="true" value="">Age</option>
            <option ng-repeat="age in ages" value="{{age.id}}">{{age.label}}</option>
          </select>
        </div>
        <div class="col-sm-3 col-sm-offset-3">
          <button type="button" class="btn btn-default facility-finder__reset-button">Reset All Filters</button>
        </div>
      </div>
    </form>
  </div>
</div>
