<!DOCTYPE html>
<html>
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>MDHS</title>

  <link rel="stylesheet" href="../public/app/css/styles.css" th:href="@{app/css/styles.css}" media="screen"/>

</head>
<body ng-app="mdhs">

  <site-header></site-header>
  <ng-view autoscroll="true"></ng-view>
  <site-footer></site-footer>

  <!-- Third-party libraries -->
  <script src='//maps.googleapis.com/maps/api/js?key=AIzaSyCaxvl2qyLERmbuoCfWUWmn0PW6XcHgpIU'></script>

  <!-- build:externalJs lib/lib-all.js -->
  <script src='../public/bower_components/lodash/dist/lodash.js' th:src='@{bower_components/lodash/dist/lodash.js}' ></script>
  <script src='../public/bower_components/jquery/dist/jquery.js' th:src='@{bower_components/jquery/dist/jquery.js}'></script>
  <script src='../public/bower_components/angular/angular.js' th:src='@{bower_components/angular/angular.js}'></script>
  <script src='../public/bower_components/angular-route/angular-route.js' th:src='@{bower_components/angular-route/angular-route.js}'></script>
  <script src='../public/bower_components/bootstrap/dist/js/bootstrap.min.js' th:src='@{bower_components/bootstrap/dist/js/bootstrap.min.js}'></script>
  <script src='../public/bower_components/angular-simple-logger/dist/angular-simple-logger.js' th:src='@{bower_components/angular-simple-logger/dist/angular-simple-logger.js}'></script>
  <script src='../public/bower_components/angular-google-maps/dist/angular-google-maps.js' th:src='@{bower_components/angular-google-maps/dist/angular-google-maps.js}'></script>
  <!-- endbuild -->

  <!-- build:appJs app/app-all.js -->
  <script src='../public/app/application.js' th:src='@{app/application.js}'></script>
  <script src='../public/app/constants.js' th:src='@{app/constants.js}'></script>
  <script src='../public/app/routes.js' th:src='@{app/routes.js}'></script>
  <script src='../public/app/services/FacilityService.js' th:src='@{app/services/FacilityService.js}'></script>
  <script src='../public/app/services/FacilitySortService.js' th:src='@{app/services/FacilitySortService.js}'></script>
  <script src='../public/app/components/home.js' th:src='@{app/components/home.js}'></script>
  <script src='../public/app/components/search.js' th:src='@{app/components/search.js}'></script>
  <script src='../public/app/components/about.js' th:src='@{app/components/about.js}'></script>
  <script src='../public/app/components/site-header.js' th:src='@{app/components/site-header.js}'></script>
  <script src='../public/app/components/site-footer.js' th:src='@{app/components/site-footer.js}'></script>
  <script src='../public/app/components/facility-finder.js' th:src='@{app/components/facility-finder.js}'></script>
  <script src='../public/app/directives/facility-map.js' th:src='@{app/directives/facility-map.js}'></script>
  <script src='../public/app/components/facility-sorter.js' th:src='@{app/components/facility-sorter.js}'></script>
  <script src='../public/app/components/facility-listing.js' th:src='@{app/components/facility-listing.js}'></script>
  <script src='../public/app/components/facility-detail-small.js' th:src='@{app/components/facility-detail-small.js}'></script>
  <script src='../public/app/components/facility-detail-large.js' th:src='@{app/components/facility-detail-large.js}'></script>
  <script src='../public/app/components/facility-pagination.js' th:src='@{app/components/facility-pagination.js}'></script>
  <!-- endbuild -->

</body>
</html>
