<div class="about">
  <div class="about__header">
    <div class="about__header-text">ABOUT</div>
  </div>
  <div class="about__body">
    <div class="about__title">Mississippi Department of Human Services</div>
    <img class="about__image" src="/app/assets/about/about.png"/>

    <div class="about__text">
      <div class="about__text-paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et velit mauris. Praesent elementum vestibulum
        nibh
        vel pharetra. Cras placerat interdum dui, at condimentum leo luctus vitae. Duis semper dui nec purus
        scelerisque,
        eu pellentesque lorem varius. Duis imperdiet a est quis tempor. In sodales mi lorem, nec consectetur nunc
        maximus
        at. Integer eleifend euismod nisi in semper. Nullam ornare mattis nibh sit amet auctor.
      </div>
      <div class="about__text-paragraph">
        Duis vitae odio fermentum, pulvinar urna eu, pharetra lorem. Quisque ut volutpat mi. Vivamus nec commodo odio.
        Sed
        blandit, turpis id egestas tempor, ex diam aliquam elit, auctor posuere nisl felis id massa. Nullam lobortis
        dapibus neque quis tincidunt. In ac lacus orci. Fusce hendrerit nisl turpis, at egestas purus gravida nec.
        Quisque
        gravida laoreet nulla nec tincidunt. Nam consectetur eros ultrices tincidunt congue. Donec vulputate fringilla
        magna non convallis. Maecenas fermentum tempor ligula, ut elementum ante tempus sit amet. Morbi interdum dolor
        quis ligula malesuada consectetur. Suspendisse lorem nisi, pharetra ac felis a, tincidunt auctor leo.

        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce tortor metus,
        vehicula vitae facilisis nec, luctus a velit. In in sem consequat, congue arcu vel, venenatis dolor. Curabitur
        lectus tellus, volutpat sit amet nulla sit amet, efficitur hendrerit lacus. Donec congue elit quis massa
        iaculis,
        eget imperdiet tortor varius. Integer risus nibh, molestie sed arcu a, molestie hendrerit dolor. Cras sit amet
        ante faucibus, varius felis quis, scelerisque nulla. Pellentesque venenatis sem vitae ante mattis, mollis
        imperdiet elit porttitor. Nullam ut tortor massa. Cras auctor ullamcorper arcu, sit amet porttitor justo aliquam
        quis. In lacinia, lectus vitae molestie tincidunt, quam nulla efficitur lectus, vitae malesuada dui mi id lorem.
        In sed risus a sem feugiat hendrerit. Donec vestibulum efficitur magna, a facilisis metus accumsan ac. Proin
        aliquet viverra ex sit amet venenatis.
      </div>
      <div class="about__text-paragraph">
        Pellentesque sit amet tincidunt justo. Vivamus dignissim mi at diam eleifend mollis. Aliquam et blandit risus.
        In
        pretium sapien in lectus varius porttitor ac in eros. Cras commodo felis vel nisi venenatis, eget cursus nibh
        fringilla. Morbi ornare, sem eget pulvinar fermentum, quam est gravida nibh, lacinia semper augue leo id dui.
        Donec ac diam aliquet, hendrerit mauris non, dignissim felis. Suspendisse eu elementum nibh. Donec non turpis
        lobortis, ullamcorper velit vitae, malesuada ligula. Praesent gravida, velit sed iaculis dapibus, magna est
        vestibulum neque, eget tristique tortor turpis at mauris. Sed finibus, purus sed vulputate vestibulum, neque
        nunc
        venenatis quam, sed laoreet purus est non dui. Proin scelerisque ornare vulputate. Duis non tempor tellus, eget
        dictum augue. Vivamus rutrum ullamcorper sollicitudin. Aenean accumsan tempor eleifend.
      </div>
    </div>
  </div>
  <div class="about__contact"></div>
</div>
