<div class="facility-finder">
  <div class="facility-finder__filters">
    <form>
      <div class="row facility-finder__row">
        <!--<div class="col-sm-3">-->
        <!--<select class="form-control facility-finder__filter" ng-model="facilityFilters.county">-->
        <!--<option selected="true" value="">County</option>-->
        <!--<option ng-repeat="county in counties">{{county}}</option>-->
        <!--</select>-->
        <!--</div>-->
        <div class="col-sm-3">
          <select class="form-control facility-finder__form-control facility-finder__filter" ng-model="$ctrl.facilityFilters.city">
            <option selected="true" value="">City</option>
            <option ng-repeat="city in $ctrl.cities">{{city}}</option>
          </select>
        </div>
        <div class="col-sm-3">
          <select class="form-control facility-finder__form-control facility-finder__filter" ng-model="$ctrl.facilityFilters.withinDistance">
            <option selected="true" value="10">Within 10 miles</option>
            <option value="25">Within 25 miles</option>
            <option value="50">Within 50 miles</option>
            <option value="100">Within 100 miles</option>
          </select>
        </div>
        <div class="col-sm-3">
          <select class="form-control facility-finder__form-control facility-finder__filter" ng-model="$ctrl.facilityFilters.facilityType">
            <option selected="true" value="">Facility Type</option>
            <option ng-repeat="type in facilityTypes" value="{{type.value}}">{{type.label}}</option>
          </select>
        </div>
        <div class="col-sm-3">
          <select class="form-control facility-finder__form-control facility-finder__filter" ng-model="$ctrl.facilityFilters.size">
            <option selected="true" value="">Size</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>

      </div>

      <div class="row facility-finder__row">
        <div class="col-sm-3">
          <button type="submit" class="btn btn-default facility-finder__form-control facility-finder__search-button" ng-click="$ctrl.search()">SEARCH
          </button>
        </div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-default facility-finder__reset-button" ng-click="$ctrl.reset()">Reset All
            Filters
          </button>
        </div>
      </div>
      <hr/>
      <div class="row facility-finder__row">
        <div class="form__sub-title-text">Child Information (Optional)</div>
        <div class="row facility-finder__row facility-finder__child-info" ng-repeat="child in $ctrl.childInfo">
          <div class="col-sm-3">
            <select class="form-control facility-finder__form-control facility-finder__filter" ng-model="child.gender">
              <option selected="true" value="">Gender</option>
              <option ng-repeat="gender in $ctrl.genders" value="{{gender.value}}">{{gender.label}}</option>
            </select>
          </div>
          <div class="col-sm-3">
            <select class="form-control facility-finder__form-control facility-finder__filter" ng-model="child.age">
              <option selected="true" value="">Age</option>
              <option ng-repeat="age in $ctrl.ages" value="{{age.value}}">{{age.label}}</option>
            </select>
          </div>
        </div>
        <div class="facility-finder__add-child" ng-click="$ctrl.addChild()">Add a Child</div>
      </div>
    </form>
  </div>
</div>
