<div class="facility-detail-large">

  <div class="facility-detail-large__header">

    <div class="facility-detail-large__row">

      <div class="facility-detail-large__name">{{$ctrl.facility.facility.name}}</div>
      <div class="facility-detail-large__rating">
        <span ng-if="$ctrl.facility.facility.qualityRating == 0" class="facility-detail-large__not-rated">Not Yet Rated</span>
        <span ng-if="$ctrl.facility.facility.qualityRating != 0" ng-repeat="i in $ctrl.range($ctrl.facility.facility.qualityRating) track by $index" class="facility-detail-large__star"></span>
      </div>
      <div class="facility-detail-large__distance">
        <span class="facility-detail-large__distance-value">{{$ctrl.facility.distance}} mi</span>
        <span class="facility-detail-large__distance-modifier">Away</span>
      </div>

    </div>

  </div>

  <div class="facility-detail-large__content">

    <div class="facility-detail-large__row">

      <div class="facility-detail-large__address">
        <div class="facility-detail-large__address-line-1"></div>
        <div class="facility-detail-large__address-line-2">{{$ctrl.facility.facility.city}} MS {{$ctrl.facility.facility.zipCode}}</div>
        <div class="facility-detail-large__address-line-3">{{$ctrl.facility.facility.phoneNumber}}</div>
      </div>

      <div class="facility-detail-large__info">
        <div class="facility-detail-large__info-line">
          <label class="facility-detail-large__label">Type</label>
          <span class="facility-detail-large__data">{{$ctrl.facility.facility.description}}</span>
        </div>
        <div class="facility-detail-large__info-line">
          <label class="facility-detail-large__label">Accepts</label>
          <span class="facility-detail-large__data">{{$ctrl.getGendersAcceptedLabel($ctrl.facility.facility.openToGender)}}</span>
        </div>
        <div class="facility-detail-large__info-line">
          <label class="facility-detail-large__label">Ages</label>
          <span class="facility-detail-large__data">{{$ctrl.getMinAgeAccepted($ctrl.facility.facility.openToAgeRange)}} - {{$ctrl.getMaxAgeAccepted($ctrl.facility.facility.openToAgeRange)}}</span>
        </div>
      </div>

      <div class="facility-detail-large__info">
        <div class="facility-detail-large__info-line">
          <label class="facility-detail-large__label">Size</label>
          <span class="facility-detail-large__data">{{$ctrl.facility.facility.capacity}} Children</span>
        </div>
        <div class="facility-detail-large__info-line">
          <label class="facility-detail-large__label">Slots Available</label>
          <span class="facility-detail-large__data">{{$ctrl.facility.facility.openings}}</span>
        </div>
        <div class="facility-detail-large__info-line">
          <label class="facility-detail-large__label">License</label>
          <span class="facility-detail-large__data">{{$ctrl.getLicenseLabel($ctrl.facility.facility.licenseType)}}</span>
        </div>
        <div class="facility-detail-large__info-line">
          <label class="facility-detail-large__label">Accepts Convictions</label>
          <span class="facility-detail-large__data">{{$ctrl.facility.facility.acceptsConvictions ? 'Yes' : 'No'}}</span>
        </div>
      </div>

      <div class="facility-detail-large__action">
        <button class="facility-detail-large__action-button" type="button" ng-click="$ctrl.contactFacility($ctrl.facility.facility.id)">Call</button>
      </div>

    </div>

  </div>

</div>
