<div class="facility-finder">
  <div class="facility-finder__filters">
    <form>
      <div class="row facility-finder__row">
        <div class="col-sm-3">
          <select class="form-control facility-finder__form-control facility-finder__filter" ng-model="$ctrl.facilityFilters.city">
            <option selected="true" value="">City</option>
            <option ng-repeat="city in $ctrl.cities">{{city}}</option>
          </select>
        </div>
        <div class="col-sm-3">
          <select class="form-control facility-finder__form-control facility-finder__filter" ng-model="$ctrl.facilityFilters.withinDistance">
            <option selected="true" value="10">Within 10 miles</option>
            <option value="25">Within 25 miles</option>
            <option value="50">Within 50 miles</option>
            <option value="100">Within 100 miles</option>
          </select>
        </div>
        <div class="col-sm-3">
          <select class="form-control facility-finder__form-control facility-finder__filter" ng-model="$ctrl.facilityFilters.description">
            <option selected="true" value="">Provider Type</option>
            <option ng-repeat="facilityType in $ctrl.facilityTypes" value="{{facilityType}}">{{facilityType}}</option>
          </select>
        </div>
        <div class="col-sm-3">
          <select class="form-control facility-finder__form-control facility-finder__filter" ng-model="$ctrl.facilityFilters.size">
            <option selected="true" value="">Provider Size</option>
            <option ng-repeat="(facilitySizeKey, facilitySizeValue) in $ctrl.facilitySizes" value="{{facilitySizeKey}}">{{facilitySizeValue.label}}</option>
          </select>
        </div>

      </div>

      <div class="row facility-finder__row">
        <div class="col-sm-3">
          <button type="submit" class="btn btn-default facility-finder__form-control facility-finder__search-button" ng-click="$ctrl.search()">SEARCH
          </button>
        </div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-default facility-finder__reset-button" ng-click="$ctrl.reset()">Reset All
            Filters
          </button>
        </div>
      </div>
      <hr/>
      <div class="row facility-finder__row">
        <div class="form__sub-title-text">Child Information (Optional)</div>
        <div class="row facility-finder__row facility-finder__child-info" ng-repeat="child in $ctrl.childInfo">
          <div class="col-sm-3">
            <select class="form-control facility-finder__form-control facility-finder__filter" ng-model="child.gender">
              <option selected="true" value="">Gender</option>
              <option ng-repeat="(genderKey, genderValue) in $ctrl.genders" value="{{genderKey}}">{{genderValue}}</option>
            </select>
          </div>
          <div class="col-sm-3">
            <select class="form-control facility-finder__form-control facility-finder__filter" ng-model="child.age">
              <option selected="true" value="">Age</option>
              <option ng-repeat="(ageKey, ageValue) in $ctrl.ages" value="{{ageKey}}">{{ageValue.minimumAge}} - {{ageValue.maximumAge}} years</option>
            </select>
          </div>
        </div>
        <div class="facility-finder__add-child" ng-click="$ctrl.addChild()">Add a Child</div>
      </div>
    </form>
  </div>
</div>
