<div class="home" style="background-image: url({{$ctrl.image}})">
  <div class="home__shade"></div>
  <div class="home__container">
    <div class="home__row">
      <div class="home__text">
        <div class="home__greeting">
          Welcome
        </div>
        <div class="home__message">
          MDHS is dedicated to serving others while providing a wide range of public assistance programs, social services and support for children, low-income individuals and families.
        </div>
        <a href="/#/search" class="home__button">
          Find Child Care
        </a>
      </div>
    </div>
  </div>
</div>
