<div class="site-footer__top">
  <div class="site-footer__top-row">
    <div class="site-footer__top-green"></div>
    <div class="site-footer__top-gray"></div>
    <div class="site-footer__top-blue"></div>
  </div>
</div>

<div class="site-footer__container">
  <div class="site-footer__row">
    <div class="site-footer__pww">
      <a  class="site-footer__logo-link" href="#/home">
        <img class="site-footer__logo" alt="MDHS" src="app/assets/site-footer/logo.svg"/>
      </a>
      <div class="site-footer__mdhs">Mississippi Department of Human Services</div>
      <div class="site-footer__address">750 North State Street, Jackson, MS 39202</div>
      <div class="site-footer__phone">800-345-6347</div>
      <div class="site-footer__report">Call 800-222-8000 to report child abuse or neglect.</div>
      <div class="site-footer__copyright">©2016 Mississippi Department of Human Services. All rights reserved.</div>
      <div class="site-footer__social">
        <a href="https://www.facebook.com/PortlandWebworks/" target="_blank">
          <img class="site-footer__media-image" src="app/assets/site-footer/facebook.png"/>
        </a>
        <a href="https://twitter.com/portlandwebwork" target="_blank">
          <img class="site-footer__media-image" src="app/assets/site-footer/twitter.png"/>
        </a>
      </div>
      <a class="site-footer__credit" href="http://www.portlandwebworks.com/portfolio" target="_blank">This site is developed by Portland Webworks</a>
    </div>
  </div>
</div>
